<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="admin/add-car">Add Car</a></li>
        <li><a href="admin/add-country">Add Country</a></li>
        <li><a href="see-countries">See Countries</a></li>

    </ul>
    <ul>
        <li><a href="auth/login">Login</a></li>
        <form action="auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </ul>
</nav>