<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/home.ejs') %>
            <main>
                <form action="/admin/add-country" method="POST">
                    <label for="country">Nome do país:</label>
                    <input type="text" name="country">
                    <label for="currency">Moeda do país:</label>
                    <input type="text" name="currency">
                    <label for="avgWage">Média salarial:</label>
                    <input type="number" name="avgWage">
                    <button type="submit">Adicionar País</button>
                </form>
            </main>
    </body>

    </html>